.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3%;
  width: 100%;
  color: blueviolet;
}

.header {
  font-size: 3rem;
  color: blueviolet;
  padding-bottom: 3%;
}
